/* @theme a4-3c */

@import "default";

section {
	font-family:Garamond,Philosopher,'Times New Roman', Times, serif;
	font-size: 10pt;  
	width: 297mm;
	height: 210mm;
	padding: 20px;
	background-color: white;
	display:block;
	columns: 3;
	text-align:justify;
	line-height:1;
}
section h1,section h2,section h3,section h4,section p {margin:0px 10px!important}

h1 {font-size:1.2em; text-align:center; padding:0!important}
h2 {font-size:1.05em; margin-top:0.75em!important; margin-bottom:0.25em!important}